body {
    font-family: sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #555;
}
.post-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid #eee;
	color: #555;
}

form{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.comment-box {
    border-left: 3px solid #007bff;
    padding-left: 15px;
    margin: 15px 0;
    background: #fff;
}

.comment-form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.actions {
    font-size: 0.85em;
    color: #555;
    margin-top: 5px;
}

.actions button {
    cursor: pointer;
    margin-right: 5px;
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    padding: 0;
}

.actions button:hover {
    color: #0056b3;
}

.hidden {
    display: none !important;
}

.container {
	border-radius: 1rem;
	box-shadow: #0056b3;
	display: grid;
	width: 100%;
	gap: 1rem; /* Tailwind: gap-4 */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.small-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

#title {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.btn{
	background-color: #007bff;
	width: fit-content;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: #ffffff;
	height: fit-content;
}