<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feedback Wall</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <main>
		<h1>New Post</h1>
        <hr/>
		<form class="container" th:action="@{/update}" method="post" th:object="${post}">
			<div>
				<label for="title">Title</label>
				<input type="text" id="title" name="title" th:field="*{title}">
			</div>
			<div>
				<label for="content">Content</label>
				<textarea id="content" name="content" th:field="*{content}"></textarea>
			</div>
			<div>
				<input class="button" type="submit" value="Create">
			</div>
		</form>
    </main>
</body>
</html>